.accordion-header {
  cursor: pointer;
  margin: 0;
  padding: 10px;
  background-color: #f2f2f2;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-content p {
  margin: 0;
}

.accordion li:first-child .accordion-content {
  display: block;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
  /* background-color: #f2f2f2; */
  padding: 10px;
}

footer p {
  margin: 0;
  align-items: center;
}